In [1]:
import pandas as pd
import os

In [2]:
data_dir = '../data'

processed_oilspills_csvpath = os.path.join(data_dir, 'US_oilspills_p1.csv')

In [4]:
oilspills = pd.read_csv(processed_oilspills_csvpath, index_col='id', parse_dates=['open_date'])

oilspills.head()

,open_date,name,location,lat,lon,threat,commodity,max_ptl_release_gallons,description,year,month,commodity_key_tokens,description_key_tokens
id,,,,,,,,,,,,,
10049,2020-02-27,Partially Submerged Recreational Vessel Huron ...,"Huron, OH",41.391532,-82.554591,Oil,NaN,NaN,"On February 27, 2020, SSC received notificatio...",2020,2,NaN,"[('February 27, 2020', 'DATE'), ('34', 'CARDIN..."
10050,2020-02-27,Whitney Tank Battery 160 Loomis Pass Spill,"Venice, LA, USA",29.116625,-89.180917,Oil,NaN,NaN,"On February 27, 2020, the USCG Sector New Orle...",2020,2,NaN,"[('February 27, 2020', 'DATE'), ('the USCG Sec..."
10048,2020-02-24,Gray whale carcass,"Port Hueneme, CA",34.149744,-119.208226,Other,NaN,NaN,"On 24-FEB-2020, NMFS Stranding Coordinator in ...",2020,2,NaN,"[('24-FEB-2020', 'CARDINAL'), ('NMFS Stranding..."
10047,2020-02-20,Recreational vessel sunk in Anacortes Skyline ...,"2400 Skyline Way, Anacortes, WA 98221, USA",48.492559,-122.680368,Oil,NaN,NaN,"On February 20, 2020, the SEA WOLF, a 44 foot ...",2020,2,NaN,"[('February 20, 2020', 'DATE'), ('44 foot', 'Q..."
10046,2020-02-17,North Santiam River - Truck Spill,"N Santiam Hwy, Detroit, OR 97342, USA",44.697000,-122.226890,Oil,NaN,NaN,On the morning of 16 FEB 2020 along the Santi...,2020,2,NaN,"[('the morning', 'TIME'), ('Santiam River', 'L..."